{%- if page.permalink == "/" -%}
    {%- for post in site.posts -%}

        <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{post.url}}">
            <a href="{{post.url}}" style="text-decoration: none; color: #555555;">

            <p class="feed-title">{{ post.title }}</p>

            <!--{{ item.content | strip_html | strip | escape | truncate: 200}}-->
            </a>
        </div>
          <p class="feed-excerpt">{{post.excerpt}}</p>
    {%- endfor -%}
{%- endif -%}


{%- if page.permalink == "/notes" -%}
    {%- for post in site.notes reversed  -%}
        <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{post.url}}">
            <a href="{{post.url}}" style="text-decoration: none; color: #555555;">

            {%- if post.status == "Ongoing" or post.status == "ongoing" -%}
            <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
            <li style="padding: 0 5px; border-radius: 10px;" class="tag"><b>Status: </b>{{post.status | capitalize }}</li>
            </ul>
            <p style="margin-top: 0px;" class="feed-title">{{ post.title }}</p>

            {%- else -%}
            <p class="feed-title">{{ post.title }}</p>
            {%- endif -%}
            <!--{{ item.content | strip_html | strip | escape | truncate: 200}}-->
            </a>
        </div>
          <p class="feed-excerpt">{{post.excerpt}}</p>
    {%- endfor -%}
{%- endif -%}



<!---
{%- if page.permalink == "/notes" -%}
    {%- for post in site.notes -%}
    <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{post.url}}">
        <a href="{{post.url}}" style="text-decoration: none; color: #333333;">
        <p class="feed-title">{{ post.title }}</p>
        <p class="feed-excerpt">{{post.excerpt}}</p>
        </a>
        <!--{{ item.content | strip_html | strip | escape | truncate: 200 }}-->
<!---    </div>
    {%- endfor -%}
{%- endif -%} --->
