---
layout: about
---

<!--
<div class="about">
    <a class="about__back" href="/">&lt;-- back</a>
    <h1 class="about__title">About Me:</h1>
    <div class="about__content">
        {{ content }}

        <br><br> currently, i work at a Singaporean govt agency dealing with thought leadership and policy directions for human and machine collaboration systems. 
        <br><br> other times, i'm in charge of marketing & partnerships at <a href="http://codinggirls.sg"> CodingGirls SG</a>.


    </div>
</div>