---
layout: default
---


<div class="blog">
    <a class="about__back" href="/">&lt;-- back</a>
    <h1 class="about__title">About Me</h1>
    <div class="about__content">
        
        Currently, I work at a Singaporean government agency dealing with thought leadership and policy directions for human and machine collaboration systems. Along the way, I also dabble in research for 5G cybersecurity and blockchain consortia governance. With a media studies and social science background, I seek to unearth interplays between these fields and cohere multiple research inquiries.         
        
        <br><br> Other times, I'm in charge of marketing & partnerships at <a href="http://codinggirls.sg"> CodingGirls SG</a>.

        <br><br>My other interests include: consciousness & intelligence, AI/machine ethics, theoretical physics, ecocriticism, creative coding & computational creativity.

		<br><br>talk to me at vanessaauraphin@gmail.com

    </div>
</div>