---
layout: default
---

<div class="blog">
	<div class="post__back">
    	<a href="https://litepalette.github.io/testblog/">&lt;-- home</a>
    </div>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>{{ page.date | date: '%B %-d, %Y' }} vanessa auraphin</p>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content">
        {{ content }}
	    <p>Let's see if you're even working. </p>
    </div>
    <br>
	<div class="post__back">
        -vanessa<br>
        <br>
        <hr>
        <br>
        <p>Tweets: <a href="https://twitter.com/litecuboids">twitter.com/litecuboids</a></p>
        <p>Code: <a href="https://github.com/litepalette">github.com/litepalette</a></p>
       
    </div>
</div>
